/* universal mode */
* {
    box-sizing: border-box;
    margin-left: 2%;
  }
  body {
      background-image: url("../images/long.jpg");
      background-size: cover;
      background-position: 0% 25%;
      background-color: #FFFFFF;
      background-attachment: fixed;
      cursor: crosshair;
}
