/* universal mode */
:root, * {
    --main-theme-color: rgb(98, 110, 136);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
      background-image: url("../images/long.jpg");
      background-size: cover;
      background-position: 0% 25%;
      background-color: #FFFFFF;
      background-attachment: fixed;
      cursor: crosshair;
}
h1 {
    font-size: 80px;
}
h2 {
    font-size: 20px;
    font-weight: normal;
    font-family: 'Helvetica Neue', sans-serif;  
}
h3 {
    font-size: 24px;
    font-weight: normal;
    font-family: 'Helvetica Neue', sans-serif;  
}
